.banking-header {
    background: var(--staff-primary-color);
    position: fixed;
    min-height: 5.4rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 0 5px 1.4px rgba(0, 0, 0, 0.25);
}

.banking-navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.banking__navbar-part {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.banking__navbar-logo {
    width: 150px;
}

.banking__navbar-logo-link {
    display: inline-block;
}

.banking__navbar-logo-img {
    height: 50px;
}

.banking__navbar-part-title {
    font-size: 2rem;
    font-weight: 500;
}

/* Footer */

.footer-information {
    padding-top: 48px;
    background-color: #7ba0d4;
}

.footer__infor {
    margin-top: 32px;
}

.footer__infor-title {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: left;
}

.footer__infor-wrapper {
    padding-bottom: 48px;
}

.footer__infor-heading {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.footer__infor-list {
    padding: 0.8rem 0 0;
    margin-bottom: 0;
}

.footer__infor-detail {
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0.4rem 0;
}

.footer-copyright {
    background: var(--staff-primary-color);
}

.footer__copyright-content {
    padding: 1.6rem 0;
    font-size: 1.6rem;
    font-weight: 500;
}

/* Banking */
.banking {
    margin-top: 102px;
}

.banking__heading {
    text-align: center;
    margin-bottom: 48px;
    letter-spacing: 1.1;
}

.banking__account-information {
    margin-bottom: 48px;
    min-height: 72vh;
}


.banking__account-info-heading {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--cancel-button-color);
}

.banking__account-search-form {
    background: var(--primary-color);
    min-height: 122px;
    padding: 1.6rem;
    border-radius: 5px;
}

.banking__account-search-number {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.banking__account-search-label {
    width: 30%;
    font-weight: 500;
    color: var(--text-color);
}

.banking__account-search-input {
    width: 50%;
    padding: 0.4rem 0.8rem;
    box-shadow: var(--box-shadow-degree);
    border: none;
}

.banking__account-search-action {
    font-size: 1.5rem;
    text-align: right;
    margin-top: 1.6rem;
}

.banking__account-search-btn {
    padding: 0.8rem 0;
    min-width: 10rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.banking__account-search-btn:hover {
    color: var(--white-color);
}

.banking__account-result {
    background: var(--primary-color);
    padding: 1.6rem;
    border-radius: 5px;
    min-height: 122px;
}

.banking__account-result.display-flex {
    display: flex;
}

.banking__account-result-detail {
    font-size: 1.5rem;
    padding: 0.4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banking__account-result-title {
    width: 30%;
    font-weight: 500;
}

.banking__account-result-desc {
    width: 50%;
}

.banking__account-result-notification {
    margin: auto;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
}

.banking__account-history {
    margin-top: 3.2rem;
}

.banking__account-history-heading {
    font-size: 1.8rem;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--cancel-button-color);
}

.banking__account-history-table {
    width: 70%;
    margin: auto;
    margin-top: 0.8rem;
}

.banking__account-history-table th {
    width: 33.3333%;
}

.banking__account-history--increase td:nth-child(2) {
    font-weight: 500;
    color: var(--done-button-color);
}

.banking__account-history--decrease td:nth-child(2) {
    font-weight: 500;
    color: var(--cancel-button-color);
}

.banking__account-history-table tbody tr:hover {
    background-color: var(--primary-color);
    border-left: none;
}

.banking__account-history-table thead th:hover {
    background: var(--staff-primary-color);
    cursor: default;
}


